@import url(https://fonts.google.com/specimen/Inter);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: hsl(232, 19%, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 850px;
}

.content2 {
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mess1 {
    color: #fff;
    font-size: 28px;
}

.cont {
    color: black;
    font-weight: bold;
}


.mess2 {
    color: hsl(228, 34%, 66%);
    font-size: 12px;
}

.mess3 {
    color: hsl(228, 34%, 66%);
}

.line {
    display: none;
}

.click {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.light {
    width: 50px;
    height: 24px;
    border-radius: 20px;
    background-color: aqua;
    cursor: pointer;
}

.active2 {
    background-color: hsl(228, 12%, 44%);
    transition: all 0.5s ease;
}

.round {
    margin: 2px;
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    transition: all 0.5s ease;
}

.active {
    margin-left: 26px;
    background-color: #fff;
}

.box1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
    min-height: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    height: 170px;
    background-color: hsl(228, 28%, 20%);
    justify-content: center;
    border-top: 4px solid hsl(229, 76%, 69%);
    transition: all 0.5s ease;
}

.boxes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: hsl(228, 28%, 20%);
    height: 100px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.5s ease;
}

.cont2 {
    background-color: hsl(225, 100%, 98%);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    margin-top: 20px;
    text-align: center;
}

#third {
    border-top: 4px solid hsl(37, 97%, 70%);
}

#fourth {
    border-top: 4px solid hsl(356, 69%, 56%);
}

.name {
    font-size: 12px;
    color: hsl(228, 34%, 66%);
}

.number {
    margin-top: 13px;
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    transition: all 0.5s ease;
}

.number2 {
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    transition: all 0.5s ease;
}

.cont3 {
    color: black;
}

.common {
    display: flex;
    flex-direction: column;
}

.people {
    font-size: 11px;
    color: hsl(228, 34%, 66%);
    text-align: center;
    margin-top: 5px;
}

.date {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: hsl(163, 72%, 41%);
    font-weight: bold;
}

#change1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

#change2 {
    color: hsl(356, 69%, 56%);
}

.header2 {
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
    color: #fff;
}

.cont4 {
    color: black;
}

.box2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 20px;
}

.info2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.pics {
    height: 24px;
    width: 24px;
}

.data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.name2 {
    color: hsl(228, 34%, 66%);
    font-size: 13px;
}

.date2 {
    font-size: 10px;
    margin-top: 10px;
    color: hsl(163, 72%, 41%);
    font-weight: bold;
}

.date3 {
    font-size: 10px;
    margin-top: 10px;
    color: hsl(356, 69%, 56%);
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .container {
        height: 100%;
    }

    .content {
        overflow: auto;
        padding: 20px;
        margin: auto;
        height: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header1 {
        align-self: flex-start;
    }

    .line {
        display: block;
        height: 1px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: hsl(229, 14%, 49%);
    }

    .click {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}